body {
    background-color: white;
}


table, th, td {
	margin-left: 3cm;
	height:25px;
	border: 1px #cccccc solid;
   /*   border: 1px black solid;  */
}
h2{
margin:10px;
}
#table2{
border: 1px black solid;
}
#table1{
border: 1px white solid;
}
.centerAlign{

padding: 15px;
}
.leftalign{
text-align: left;
margin-left: 1cm;
}
.textCenter{
text-align: center;
}
#tablein{
margin-left: 0cm;
}